<ul class="main-navigation">
  <li><a href="{{ root_url }}/">About</a></li>
  <li><a href="{{ root_url }}/Environmental">Heygate Redevelopment</a></li>
  <li><a href="{{ root_url }}/East-Street-Market">East St. Market</a></li>
  <li><a href="{{ root_url }}/Green-Spaces">Green Spaces & Links</a></li>
  <li><a href="{{ root_url }}/Affordable-Housing">Housing</a></li>
  <li><a href="{{ root_url }}/Locally-Listed-Buildings">Locally Listed Buildings</a></li>
  <li><a href="{{ root_url }}/Retail-and-Employment"></a>Local Retail & Employment</li>
  <li><a href="{{ root_url }}/space">Meanwhile Space</a></li>
  <li><a href="{{ root_url }}/blog">Blog</a></li>
  <li><a href="{{ root_url }}/Get-Involved">Contact</a></li>
</ul>
